<div class="container mx-auto p-5">
  <div class="flex">
    <h2 class="text-2xl font-bold">Productos</h2>

    <button class="p-3 ml-auto bg-blue-500 text-white rounded-lg shadow-lg text-lg font-semibold">Agregar Producto</button>
  </div>
  <br />
  <ul class="list-none max-h-[700px] overflow-y-auto">
    <li class="flex items-center list-none py-5 border-b">
      <div class="w-3/12"><p class="font-bold">Imagen</p></div>
      <div class="w-3/12"><p class="font-bold">Titulo del producto</p></div>
      <div class="w-3/12 pl-10"><p class="font-bold">Precio</p></div>
      <div class="w-3/12"><p class="font-bold">Acciones</p></div>
    </li>
    @for (product of products(); track $index) {
    <li class="flex flex-row items-center list-none py-2 border-b">
      <div class="w-3/12 min-h-[120px] flex items-center">
        <img [src]="product.image" width="80px" alt="product" />
      </div>
      <div class="w-3/12 min-h-[120px] flex items-center">
        <p>{{ product.title }}</p>
      </div>
      <div class="w-3/12 min-h-[120px] flex items-center pl-10">
        <p>
          <b>{{ product.price | currency }}</b>
        </p>
      </div>
      <div class="w-3/12 min-h-[120px] flex items-center">
        <button
          class="bg-orange-500 rounded-lg p-3 shadow-md text-white font-semibold"
        >
          Actulizar
        </button>
        &nbsp; &nbsp;
        <button
          class="bg-red-500 rounded-lg p-3 shadow-md text-white font-semibold"
        >
          Eliminar
        </button>
      </div>
    </li>
    }
  </ul>
</div>
